:root {
    --dark-grey: #1B1B1B;
    --light-grey: #666666;
    --light-purple: #C58ED1;
    --light-black: #000000a9;
}

/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', 'san-serif';
    font-weight: 300;
    background-color: var(--dark-grey);
    color: var(--light-purple);
    font-size: 1.5rem;
}

/* main {
    margin: 0px 50px;
} */

button {
    border: none;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hero Styling */
#hero h1 {
    font-size: 4em;
    color: #aaa;
    font-family: 'Gruppo', cursive;
    text-transform: none;
    padding: 20px 40px;
    margin: 0;
    margin-left: 100px;
}

#hero {
    background-image: url("../images/stargazr-bg.jpg");
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 94%;
    display: flex;
    align-items: center;
}

/* Header Styling */
.heading {
    align-self: center;
    color: #aaa;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 10px;
    font-family: 'Gruppo', 'cursive';
}

.heading::before,
.heading::after {
    content: '';
    display: block;
    height: .075em;
    min-height: 1px;
    width: 500px;
    position: absolute;
    top: 50%;
}

.heading::before {
    left: -20px;
    transform: translate(-100%, -50%);
    background-image: linear-gradient(to right, transparent 10%, #6f4c99 100%);
}

.heading::after {
    right: -20px;
    transform: translate(100%, -50%);
    background-image: linear-gradient(to left, transparent 10%, #6f4c99 100%);
}

/* Virtual Map Styling */
#stars {
    width: 800px;
    height: 800px;
    border: none;
    margin: 0;
}

.star-map {
    margin: 10px 0;
    margin-bottom: 20px;
}

iframe {
    height: 600px;
    width: 100%;
    border: 1px solid var(--light-grey);
    border-radius: 2px;
}

#map-container {
    padding-right: 30px;
}

/* City Search Container Styling */

/* Input Styling */
input:focus {
    border-bottom: 1px solid var(--light-purple) !important;
    box-shadow: 0 1px 0 0 var(--light-purple) !important;
}

label {
    font-family: 'Roboto', 'san-serif';
}

label.active {
    color: var(--light-purple) !important;
    font-family: 'Roboto', 'san-serif';
}

.city-search {
    display: flex;
    align-items: center;
}

.input-field {
    flex-grow: 1;
}

#city {
    color: white !important;
}

#city-search-container {
    padding-left: 30px;
}

#search-history-item {
    cursor: pointer;
    text-transform: capitalize;
}

#search-btn {
    background-color: var(--light-grey);
    height: 48px;
    margin: 0 0 8px 10px;
    width: 3rem;
    color: white;
}

#search-btn:hover{
    background-color: var(--light-purple);
    color: var(--dark-grey);
}

#search-btn > span{
    line-height: 1.5;
    padding: 0;
}

#search-btn:hover span{
    font-weight: bold;
}

/* City History List styling */

#search-history-item {
    background-color: var(--light-grey);
    padding: 10px 30px;
    margin-bottom: 5px;
    color: white;
    display: list-item;
}

#search-history-item:hover {
    background-color: var(--light-purple);
    color: var(--dark-grey);
}

/* Section Styling */
/* Weather Section Styling */
.hide {
    display: none;
}

#weather-container {
    display: flex;
    justify-content: center;
}

.weather-card {
    width: 200px;
    margin: 0 40px;
    margin-bottom: 20px;
    font-family: 'Roboto', 'san-serif';
    font-weight: 300;
    border: solid 1px var(--light-grey);
    border-radius: 2px;
}

.weather-card h4 {
    text-align: center;
    color: white;
    font-family: 'Gruppo', 'cursive';
}

.weather-card p {
    padding: 10px;
}

.weather-card span {
    color: white;
}

/* Sun & Moon Section Styling */
#sun-moon {
    display: flex;
    justify-content: center;
    border: solid 1px var(--light-grey);
    border-radius: 2px;
    width: 1000px;
    margin: 20px auto 40px auto;
    
}

#sun-moon h4 {
    font-family: 'Gruppo', 'cursive';
    color: white;
}

#sun-heading, #moon-heading {
    padding: 10px;
}

#moon-heading {
    margin-left: 40px;
}

#sun, #moon {
    flex-direction: column;
    margin: 20px;
   
}

#sun p, #moon p {
    white-space: nowrap;
}

#sun span, #moon span {
    color: white;
}

/* Footer Style */
footer {
    background-image: url("../images/stargazr-bg.jpg");
    height: 150px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 94%;
}

/* Responsive Styling */
@media screen and (min-width: 580px) {
    /* div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .heading{
        font-size: 2.8rem;
    }
    .heading::before, .heading::after {
        width: 100%;
    } */

}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}