:root{
    --dark-grey: #1B1B1B;
    --light-grey: #666666;
    --light-purple: #C58ED1;
    --light-black: #000000a9;
}

/* General Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Gruppo', cursive;
    background-color: var(--dark-grey);
    color: var(--light-purple);
    font-size: 1.5rem;
}

main{
    margin: 0px 50px;
}

main div {
    padding: 10px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
/* #city-search-container{
    background-color: blue;
}

#map-container{
    background-color: red;
} 
#city-search-container, #map-container{
    padding: 15px;
}
*/

/* Hero Styling */
h1{
    margin: 0;
    color: var(--light-purple);
}

#hero{
    background-image: url("../images/stargazr-bg.jpg");
    padding: 35px;
    padding-top: 50px;
} 

#hero-header{
    font-family: 'Roboto', sans-serif;

}

/* Header Styling */
.heading {
    align-self: center;
    color: #aaa;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
  }
.heading::before, .heading::after {
    content: '';
    display: block;
    height: .075em;
    min-height: 1px;
    width: 200%;
    position: absolute;
    top: 50%;
  }
.heading::before {
    left: -20px;
    transform: translate(-100%, -50%);
    background-image: linear-gradient(to right, transparent 10%, #6f4c99 100%);
  }
.heading::after{
    right: -20px;
    transform: translate(100%, -50%);
    background-image: linear-gradient(to left, transparent 10%, #6f4c99 100%);
  }

/* City Search Container Styling */

/* Input Styling */
#input-container label {
    color: var(--light-purple);
    font-size: 1.5rem;
    line-height: 1.5;
    position: relative;
    bottom: 10px;
    left: 0;
}
#input-container input[type=text]{
    background-color: white;
    margin-right: 10px;
    width: 20rem;
}
#input-container button
{
    background-color: var(--light-grey);
    height: 3rem;
    width: 3rem;
    border: none;
    float: right;
}

#input-container button:hover{
    background-color: var(--light-purple);
}

#input-container button > span{
    color: white;
    line-height: 1.5;
    padding: 0;
}

#input-container button > span:hover{
    color: var(--dark-grey);
    font-weight: bold;
}


/* City History List styling */

#search-history-item{
    background-color: var(--light-grey);
    margin: 10px 0;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
}

#search-history-item:hover{
    background-color: var(--light-purple);
    color: var(--dark-grey);
}

/* Weather Styling */
/* Section Styling */
#weather-container {
    padding: 15px 25px;
}

#weather-container section{
    background-color: var(--light-black);
    margin: 25px;
    border-radius: 10px;
    padding: 25px 50px;
}

#moon{
    float: right;
}

section h3{
    text-align: center;
    font-weight: bold;
}

section p, section h4{
    color: white;
}

section span{
    color: var(--light-purple);
}

/* Weather Section Styling */
#weather-icon{
    text-align: right;
    padding-right: 30px;
}


/* Sun & Moon Section Styling */

#moon img{
    margin: 20px;
}
/* Responsive Styling */
@media screen and (min-width: 580px) {
    /* div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .heading{
        font-size: 2.8rem;
    }
    .heading::before, .heading::after {
        width: 100%;
    } */

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

} */